.player-info {
  margin-top: 30px;
}

.player-info table {
  width: 90%;
  margin-inline: auto;
}

.player-info table td {
  text-align: left;
  padding: 5px;
}

.player-info img {
  width: 200px;
  height: auto;
}

.player-name {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (min-height: 650px) {
  .player-info img {
    width: 40%;
    max-width: 300px;
    height: auto;
  }

  .player-name {
    font-size: 1.6rem;
    font-weight: bold;
  }

  td {
    font-size: 1.2rem;
  }
}
