.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 200px;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px auto;
  color: inherit;
  text-decoration: none;
}

.category-title-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.category-card > img {
  width: 100px;
  height: auto;
}

.category-card a {
  text-decoration: none;
  color: white;
}

.category-title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  margin-bottom: 2px;
  text-align: right;
  align-self: flex-end;
}

.average {
  align-self: flex-end;
  font-size: 0.9rem;
}
