
.leader-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline: 10px;
  justify-content: space-between;
}

.leader-row a {
  text-decoration: none;
  color: inherit;
}

.rank {
  text-align: left;
  width: 10%;
  font-weight: bold;
  font-size: 1.1rem;
}

.more {
  text-align: right;
}

.user {
  text-align: left;
  font-size: 1.1rem;
  width: 60%;
}

@media (min-width: 513px) {
  .user {
    text-align: left;
    font-size: 1.4rem;
    width: 60%;
  }
}
