
.header {
  background-color: var(--highlighted-card);
  width: 90%;
  padding: 10px 10px;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header img {
  width: 80px;
  height: auto;
}

@media (min-width: 513px) {
  .header {
    justify-content: center;
    gap: 50px;
  }
}
