.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.category-container a {
  color: var(--text-color);
  text-decoration: none;
}

a:nth-child(4n + 2) {
  background-color: var(--alternate-color);
}

a:nth-child(4n + 3) {
  background-color: var(--alternate-color);
}

@media (min-width: 513px) {
  a:nth-child(even) {
    background-color: var(--alternate-color);
  }

  a:nth-child(odd) {
    background-color: var(--bg-color);
  }
}
