@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(223, 71, 130);
  --primary-color: rgb(251, 81, 146);
  --highlighted-card: rgb(244, 80, 143);
  --alternate-color: rgb(214, 69, 124);
  --text-color: #fff;
  --highlighted-text: rgb(253, 177, 79);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Source Pro", sans-serif;
}

.highlighted {
  color: var(--highlighted-text);
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  user-select: none;
}
